{% extends 'profile.html' %}
{% load staticfiles %}

{% block head %}
    <script src="{% static 'js/password.js' %}"></script>
{% endblock %}

{% block profile_content %}
    <h4>Панель управления</h4>
    <hr>
    <h5>Аккаунт на сервере</h5>
    <form id="passreset" class="form-inline" action="{% url 'profile:linux_pass_reset' %}" method="post">
        {% csrf_token %}
        {% for form in pass_reset_form %}
            <div class="form-group">
                <label>{{ form.label }}:</label>
                {{ form }}
            </div>
        {% endfor %}
        <input type="submit" value="Сбросить" class="btn btn-primary">
    </form>
    <hr>
    <h5>Базы данных</h5>
    {% if user.db_password %}
        <h6>Сброс пароля пользователя</h6>
        <form id="dbpassreset" class="form-inline" action="{% url 'profile:db_user_reset' %}" method="post">
            {% csrf_token %}
            {% for form in db_reset_pass_form %}
                <div class="form-group">
                    <label>{{ form.label }}:</label>
                    {{ form }}
                </div>
            {% endfor %}
            <input type="submit" value="Сбросить" class="btn btn-primary">
        </form>
        <br>
        <p>Ваш логин для БД: {{ user.linux_user }}
            <br>
            Ваш пароль для БД: {{ user.db_password }}</p>
        <p>Список ваших баз данных:</p>
        <ul>
        {% for db in databases %}
            <li>{{ db.pname }}</li>
        {% empty %}
            <li>К сожалению, у вас нет баз данных</li>
        {% endfor %}
        </ul>
        <h5>Создать базу данных</h5>
        <form id="dbcreate" class="form-inline" action="{% url 'profile:create_db' %}" method="post">
            {% csrf_token %}
            {% for form in db_form %}
                <div class="form-group">
                    <label>{{ form.label }}</label>
                    {{ form }}
                </div>
            {% endfor %}
            <input type="submit" value="Создать" class="btn btn-primary">
        </form>
        <br>
        <h5>Удалить базу данных</h5>
        <form id="dbdel" class="form-inline" action="{% url 'profile:remove_db' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                {{ db_multiple_form }}
            </div>
            <input type="submit" value="Удалить" class="btn btn-primary">
        </form>

    {% else %}
        <h6>Установка пароля пользователя</h6>
        <form id="dbpasscreate" class="form-inline" action="{% url 'profile:db_user_create' %}" method="post">
            {% csrf_token %}
            {% for form in db_reset_pass_form %}
                <div class="form-group">
                    <label>{{ form.label }}:</label>
                    {{ form }}
                </div>
            {% endfor %}
            <input type="submit" value="Установить" class="btn btn-primary">
        </form>

    {% endif %}


{% endblock %}