body {
    background-color: #006ddb;
}

ul {
    list-style-type: none;
}

main {
    padding: 60px 15px 15px;
    min-height: 100vh;
}

.info {
    background-color: #fff;
    padding: 8px 15px;
    margin: 0 auto 20px;
    border-radius: .25rem;
}

.logo {
    margin-top: 25px;
    height: auto;
    width: 50vw;
}

.page-width {
    max-width: 1200px;
}

.hor-center {
    margin: 0 auto;
}

.vert-center {
    margin: 25vh auto 0;
}

.form-signin {
    padding: 15px;
}


.form-signin div:first-child {
    margin-bottom: -1px;
    border-radius: 0;
}

input.first {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    margin-bottom: -1px;
    margin-top: auto;
}

input.last {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    margin-bottom: 1rem;
    margin-top: -1px;
}

.form-control:not(.first):not(.last) {
    border-radius: 0;
    margin-top: -1px;
    margin-bottom: -1px;
}

.navbar {
    max-height: 40px;
}

.form {
    padding: 10px;
    width: 500px;
    margin: 0 auto;
    border-radius: .3rem;
}

.form-text {
    max-width: 1000px;
    padding: 10px;
    margin: 0 auto;
    border-radius: .3rem;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
}

.dropdown-content .nav-link {
    padding-left: .5rem;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-text {
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: default;
    width: 170px;
    float: left;
    text-align: center;
}

.dropdown, .dropdown-content {
    min-width: 200px;
}

.profile-content .key, .profile-content .value {
    display: inline;
}

.profile div:first-child {
    padding-right: 20px;
}

.profile img {
    height: auto;
    width: 160px;
}

.profile .list-group {
    margin: 15px 10px;
}

.profile .list-group-item {
    padding: .5rem;
}

.profile pre {
    display: inline;
    margin: 0;
}

.form-inline .form-group {
    padding-right: .5rem;
}

.form-inline label {
    padding-right: .5rem;
}

#notify-container {
    /*display: none;*/
    width: 25rem;
    position: fixed;
    top: 3rem;
    right: 1rem;
    z-index: 1;
}

#notify-container .alert {
    display: none;
    margin-bottom: 1rem;
    cursor: pointer;
}