{% extends 'base.html' %}

{% load active %}

{% block content %}
    {% include 'navigation.html' %}
    <main class="hor-center page-width bg-light">
        {% include 'notifications.html' %}

        <div class="profile row no-gutters text-dark">
            <div class="text-center profile-nav">
                <img class="rounded-circle img-thumbnail" src="https://confid.ru/data/avatars/{{ user.get_avatar }}">
                {% for group in user.groups.all %}
                    <div class="row">
                        <span class="bg-primary rounded text-light hor-center group">{{ group }}</span>
                    </div>
                {% endfor %}
                <div class="list-group">
                    <a href="{% url 'profile:panel' %}" class="list-group-item {% active 'profile:panel' %}">Управление</a>
                    <a href="{% url 'profile:index' %}" class="list-group-item {% active 'profile:index' %}">О себе</a>
                    <a href="{% url 'profile:instruction' %}" class="list-group-item {% active 'profile:instruction' %}">Инструкция</a>
                    {% if user.is_teacher %}
                        <a href="{% url 'profile:teacher' %}" class="list-group-item {% active 'profile:teacher' %}">Панель преподавателя</a>
                    {% endif %}
                </div>
            </div>
            <div class="profile-content col-md-9">
                {% block profile_content %}
                {% endblock %}
            </div>
            </div>
    </main>
{% endblock %}
